body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: lightblue;
}
h2 {
    color: #1ce3f9;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
th {
    background-color: #23da07;
}
tr:hover {
    background-color: #776666;
}
.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
}